.root {
    background-color: var(--color-background-middle);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    width: 330px;
    z-index: 10;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
