.root {
    flex: 1;
    background-color: var(--color-background);
    color: var(--color-text);
    padding: var(--padding-container);
    padding-top: 75px;
}

.noteInfo {
    margin-bottom: 10px;
}
