.root {
    align-items: center;
    display: flex;
    height: 60px;
    
    & > *:not(:last-child) {
        margin-right: 10px;
    }
}

.link {
    color: var(--color-text);
    line-height: 2.5em;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
}
