.root {
    background-color: var(--color-background);
    color: var(--color-text);
    flex: 1;
    list-style: none;
    overflow: auto;
    padding: var(--padding-container);
    padding-top: 65px;
}
