@import '/src/consts.scss';

.root {
    align-items: center;
    background-color: var(--color-background-darkest);
    color: var(--color-text);
    display: flex;
    height: 60px;
    padding: 10px var(--padding-container);
    position: fixed;
    width: 100%;
    
    & > *:not(:last-child) {
        margin-right: 15px;
    }
}

@media screen and (min-width: $media-point-css) {
    .root {
        width: calc(100% - 330px);
    }
}
