@import '/src/consts.scss';

.root {
    align-items: stretch;
    background-color: var(--color-background);
    display: flex;
    padding: var(--padding-container);
    position: fixed;
    bottom: 0;
    width: 100%;
    
    & > *:not(:last-child) {
        margin-right: 10px;
    }
}

@media screen and (min-width: $media-point-css) {
    .root {
        width: calc(100% - 330px);
    }
}
