@use '/src/styles';

.root {
    align-items: stretch;
    background-color: var(--color-background);
    display: flex;
    padding: var(--padding-container);
    position: fixed;
    bottom: 0;
    width: 100%;
    
    & > *:not(:last-child) {
        margin-right: 10px;
    }
}

@include styles.min-media(styles.$media-point) {
    .root {
        width: calc(100% - 330px);
    }
}
